<!DOCTYPE html>
<html>
<head>
  <title>{{page.title}}</title>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width">
</head>
<body{% if page.toc %} data-spy="scroll" data-target=".toc"{% endif %}>
<header>
</header>
<main>
  {{content}}
</main>
<footer>
  <div class="container">
  </div>
</footer>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/pure/1.0.0/pure-min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,600,300italic">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Oswald">
<link rel="stylesheet" href="{{site.baseurl}}/css/syntax.css">
<link rel="stylesheet" href="{{site.baseurl}}/css/main.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<!--[if lte IE 8]>
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-old-ie-min.css">
<![endif]-->
<!--[if gt IE 8]><!-->
  <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
  <!--<![endif]-->
<script src="https://code.jquery.com/jquery.min.js"></script>
<script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/2.4.1/lodash.min.js"></script>
<script src="{{site.baseurl}}/js/jquery.countdown.min.js"></script>
<script src="{{site.baseurl}}/js/custom.js"></script>
<script type="text/javascript">
  $(function() {
    $('.nav-toggle > button').click(function(event) {
      $('header nav').toggleClass('active');
    });
  });
  </script>
  <script type="text/javascript">
    var nextYear = (new Date().getFullYear() + 1) + "/01/01";
    $("#getting-started").countdown(nextYear, function(event) {
      $(this).html(event.strftime('%-w weeks %-d days %Hh %Mm %Ss'));
    });
  </script>  
</body>
</html>
